.base {
  width: 340px;
  height: 40px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 20px;

  font-family: var(--font-montserrat);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: #1f2128;
  background-color: #ffce22;
}

.base:hover {
  background-color: #ffd84d;
  cursor: pointer;
}
