.container {
  width: 370px;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  box-shadow: 0px 8px 15px 0px #1414141f;
}

.list {
  display: flex;
  flex-direction: column;
}

.scrollArea {
  max-height: 156px;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollArea::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.divider {
  height: 1px;
  background-color: #cdcdcd;
  margin: 8px;
}

.footer {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}
