.card {
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.text {
  font-family: var(--font-montserrat);
  font-size: 14px;
  color: #1f2128;
}
