:root {
  --background: #fff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground); */
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.text {
  font-family: var(--font-montserrat);
  font-size: 14px;
  color: #1f2128;
  font-weight: 400;
  font-style: Regular;
  line-height: 130%;
  letter-spacing: 0px;
}
